<div class="text-center">ユーザー検索結果一覧</div>
<div class="card-list-container px-5">

  <% if users.any? %>
  <div class="card mx-auto mt-4 w-50 center-block">
    <% users.each do |user| %>
    <div class="card-body bg-info">
      <span class="mr-2">
        <%= link_to user, class: "user_#{user.id}" do %>
          <%= image_tag user.get_profile_image(80,80), class: "rounded-circle" %>
        <% end %>
      </span>

      <span class="font-weight-bold"><%= user.name %></span>
      <span class="col align-self-end"><%= user.introduction %></span>

    <% end %>
    </div>
  </div>

  <% else %>
      検索結果が見つかりませんでした。
  <% end %>

  <div class="pagination justify-content-center">
    <%= paginate @records %>
  </div>

</div>

