<div class="text-center">ユーザー検索結果一覧</div>
<div class="card-list-container px-5">

  <% if users.any? %>
  <div class="card mx-auto mt-4 w-50 center-block">
    <div class="card-body">
    <% users.each do |user| %>
      <%= link_to user, class: "user_#{user.id}" do %>
        <%= image_tag user.get_profile_image(80,80), class: "rounded-circle" %>
      <% end %>

      <%= user.name %>
      <%= user.introduction %>

    <% end %>
    </div>
  </div>

  <% else %>
      検索結果が見つかりませんでした。
  <% end %>

  <div class="pagination justify-content-center">
    <%= paginate @records %>
  </div>

</div>

