<div class="card-list-container py-4">

  <div class="d-flex flex-wrap justify-content-start">
  <% @posts.each do |post| %>
    <div class="card mx-auto mt-4">
      <%=link_to post_path(post.id) do %>
        <%= image_tag post.get_image(500,500), class: "card-img-top", style: "width: 300px; height: 300px; object-fit:cover;" %>
      <% end %>

      <div class="card-body">
        <div class="row bg-info">

          <div class="col-4">
            <%= image_tag post.user.get_profile_image(80,80), class: "rounded-circle" %>
          </div>

          <div class="col-7">
            <p><%= post.user.name %><br>
            ♥<%= post.favorites.count %> コメント数<%= post.post_comments.count %></p>
          </div>

        </div>
      </div>

    </div>
  <% end %>
  </div>

  <div class="pagination justify-content-center">
    <%= paginate @posts %>
  </div>

</div>