<div>
  <%= image_tag @post.get_image(600,600) %>
  <p>説明：<%= @post.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  
  <% @post.tags.each do |tag| %>
    <li style="list-style: none;"><%= link_to tag.tagname, search_path(content: tag.tagname, model:"tag", method: "perfect") %></li>
  <% end %>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>

  <% if user_signed_in? %>

      <% if @post.favorited_by?(current_user) %><!--もしログインしているユーザーがいいねしていたら-->
        <p>
          <%= link_to post_favorite_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_favorite_path(@post), method: :post do %> <!--もしいいねしていなかつたら-->
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>

    <% else %><!--もしユーザーがログインしていなかったら-->
      ♥<%= @post.favorites.count %>いいね<!--いいね数だけ表示-->
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <div>
    <% if user_signed_in? %>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% end %>
  </div>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
