<!DOCTYPE html>
<html>
  <head>
    <title>Hagoromo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/271b45693d.js" crossorigin="anonymous"></script> <!--font awesome-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar" style=" background-color:#e3f2fd;">

        <a class="navbar-brand" href="/">
          <h2>Hagoromo</h2>
        </a>

        <div class="container">
          <div class="row form-inline mb-2"><!--検索バー-->
            <div class="mr-3"><%= render 'user/searches/form' %></div>
          </div>

          <ul class ="nav">
            <% if admin_signed_in? %><!--管理者ログインヘッダー-->
              <li class="nav-item mr-3"><%= link_to "ユーザー一覧", admin_path %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

            <% elsif user_signed_in? %><!--ユーザーログインヘッダー-->
              <li class="nav-item mr-3">
                <%= link_to root_path do %><!--ホーム-->
                  <i class="fa-solid fa-house">
                    <br>ホーム
                  </i>
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to new_post_path do %><!--新規記事投稿-->
                  <i class="fa-solid fa-pen-to-square">
                    <br>新規投稿
                  </i>
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to  user_path(current_user.id) do %><!--マイページ-->
                  <i class="fa-solid fa-user">
                    <br>マイページ
                  </i>
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to favorites_user_path(current_user.id) do %><!--お気に入り-->
                  <i class="fa-solid fa-heart">
                    <br>お気に入り
                  </i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %><!--ログアウト-->
                  <i class="fa-solid fa-right-from-bracket">
                    <br>ログアウト
                  </i>
                <% end %>
              </li>

            <% else %> <!--ログイン前-->
              <li class="nav-item mr-3">
                <%= link_to root_path do %><!--ホーム-->
                  <i class="fa-solid fa-house">
                    <br>ホーム
                  </i>
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to new_user_registration_path do %><!--新規会員登録-->
                  <i class="fa-solid fa-user-plus">
                    <br>新規会員登録
                  </i>
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to new_user_session_path do %><!--ログイン-->
                  <i class="fa-solid fa-right-to-bracket">
                    <br>ログイン
                  </i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

      </nav>
    </header>

    <main class="mx-3">
     <%# deivseのフラッシュメッセージを表示 %>
        <!--<p class="notice"><%#= notice %></p>-->
        <!--<p class="alert"><%#= alert %></p>-->
        <% flash.each do |name, msg| %>
          <% if flash[:alert] %>
            <div class="alert alert-danger"<%= name %>>
              <%= msg %>
            </div>
          <% elsif flash[:success] %>
            <div class="success alert-success "<%= name %>>
             <%= msg %>
            </div>
          <% else notice %>
            <div class="notice alert-success"<%= name %>>
              <%= msg %>
            </div>
          <% end %>
        <% end %>

      <%= yield %>
    </main>

  </body>
</html>
